@tailwind base;
@tailwind components;
@tailwind utilities;

/* Georgia font */
@font-face {
  font-family: "system-ui";
  src: url("/assets/fonts/georgia/Georgia-Italic.ttf") format("ttf"),
    url("/assets/fonts/georgia/Georgia-Italic.ttf") format("ttf");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "system-ui";
  src: url("/assets/fonts/georgia/Georgia-Bold-Italic.ttf") format("ttf"),
    url("/assets/fonts/georgia/Georgia-Bold-Italic.ttf") format("ttf");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "system-ui";
  src: url("/assets/fonts/georgia/Georgia.ttf") format("ttf"),
    url("/assets/fonts/georgia/Georgia.ttf") format("ttf");
}

@font-face {
  font-family: "para display";
  src: url("/assets/fonts/paradisplay.woff2") format("woff2"),
    url("/assets/fonts/paradisplay.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
}

.bookmark::before {
  content: "";
  width: 1540px;
}

.bookmark::after {
  position: absolute;
  right: -135px;
  content: "";
  border-top: 172.5px solid transparent; /* Adjust the flag dimensions */
  border-left: 135px solid #fff; /* Adjust the flag dimensions and color */
  border-bottom: 172.5px solid transparent; /* Adjust the flag dimensions */
  opacity: 0.68;
}

.playfair {
  font-family: "Playfair Display", serif;
  -webkit-font-smoothing: antialiased;
}
